* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: kido;
    src: url(/css/kido.ttf);
}

body {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    height: auto;
    position: relative;
}

#indexUsers {
    background-image: url("https://img.freepik.com/vector-gratis/parque-infantil-parque-verano-carrusel_107791-1361.jpg?w=2000")
}

.warning {
    color: blueviolet;
    font-size: x-large;
}

#formUser {
    margin: 100px;
    padding: 50px;
}

#TituloIndex {
    font-family: kido;
}

#TituloIndex::first-letter {
    color: red, blue, blueviolet, orangered
}

input,
select,
button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    width: 150px;
    border-radius: 15px;
    margin: 15px;
    color: rgb(13, 45, 148);
    box-sizing: border-box;
}

::placeholder {
    color: rgb(11, 168, 11);
}

input:hover {
    color: blueviolet;
}

video {
    width: 100%;
}

#cuestionario {
    position: absolute;
    display: flex;
}

h1 {
    color: black;
    font-size: 5rem;
    text-align: center;
    padding: 4px 0;
}

#question {
    background: -webkit-linear-gradient(yellow, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
}

.button {
    background-color: rgb(71, 92, 155);
    color: wheat;
    width: 250px;
    font-size: 30px;
    border-radius: 4rem;
    padding: 15px 25px;
    margin: 15px 45px 15px;
}

.button:hover {
    cursor: pointer;
    background: #221f1f;
}

#puntaje {
    font-size: 20px;
    color: cornflowerblue;
}